# EditorConfig is awesome: https://editorconfig.org
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bas,cls,frm}]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{xlsm,frx}]
binary

[*.json]
indent_style = space
indent_size = 2
